<h2>Products</h2>

<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div>
    <input id="info" type="text" formControlName="info" />
    <button class="ml-1 button" type="submit">Search</button>
    <button class="ml-1 button" type="button" (click)="onClear()">Clear</button>
  </div>
</form>

<p *ngIf="searchForm.value.info">Searching {{ searchForm.value.info }}...</p>

<hr />

<div *ngFor="let product of products">
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <button type="button" (click)="share()">Share</button>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
